.gallery
{
    width: auto;
    height: auto;
}

.img-thumbnail
{
    padding: 0rem;
    margin-top:0px;
    margin-bottom:0px;
    
    background-color: white;
    border: 1px solid black;
    border-radius: 0;
    
    max-width: 100%;
    
}

.gallery .img-thumbnail
{
    background-color: white;
    border:0;
    border-radius: 0;
    max-width: 100%;
}

.container
{
    position: relative;
    width: 50%;
}

.container:hover .overlay
{
    opacity: 0.5;
}

.overlay
{    
    padding: 0rem;
    margin-top:0px;
    margin-bottom:0px;
    
    background-color: white;
    border: 1px solid black;
    border-radius: 0;
    
    max-width: 100%;

    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}

.text
{
    color: white;
    font-size: 20px;
    -webkit-transform: translate(0%, -100%);
    -ms-transform: translate(0%, -100%);
    transform: translate(0%, -100%);
    text-align: center;
}