/* FONTS ----------------------------------------------------------------------- */

@font-face
{
	font-family: OpenSans;
	src: url(../assets/fonts/open_sans/OpenSans-Regular.ttf);
}

@font-face
{
	font-family: Roboto;
	src: url(../assets/fonts/roboto/Roboto-Regular.ttf);
}

/* GENERAL --------------------------------------------------------------------- */

html
{
    height: 100%;
}

body
{
    min-height: 100%;

    display: flex;
    flex-direction: column;
}

h1,h2,h3,h4,h5,h6
{
    font-family: 'Open Sans', sans-serif;
    color: #4b0073;
}

p
{
    font-family: 'Roboto', sans-serif;
    color: black;
}

/* CARD ------------------------------------------------------------------------ */

.card
{
    border: 10px solid #4b0073;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #7c1fa3;
}

/* Image */
.card .img-thumbnail
{
    border: 0px;
    border-radius: 0px;
    padding: 0px;
}

/* Heading */
.card h1,h2,h3,h4,h5
{
    color:white;
}

/* Description */
.card p
{
    color:black;
}

/* HEADER ---------------------------------------------------------------------- */

/* Default Font Colour */
.navbar-main a
{
     color: white;
}

/* Background Colour */
.navbar-main
{
    background-color: #4b0073;
    min-height: 70px;
}

 /* Hover Colour */
.navbar-main .navbar-nav > li > a:hover, 
.navbar-main .navbar-nav > li > a:focus
{
     color: #af52d5;  
}

 /* Active Tab Colour, Active Tab BG Colour */
.navbar-main .navbar-nav .nav-item > .active, 
.navbar-main .navbar-nav > .active > a:hover, 
.navbar-main .navbar-nav > .active > a:focus
{
    color:  black;
    background-color: #ffc107;
}

/* Hamburger Menu */
.navbar-main .navbar-toggler
{
    border-radius: 0px;
    border-color: white;
    outline: none !important;
}

/* Icon */
.navbar-main .navbar-toggler-icon
{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* Dropdown Menu */
.dropdown-menu
{
    background-color: #4b0073;
    margin-top: 0px; /* Experiment to move the dropdown menu down */
}

/* Dropdown Font Colour */
.dropdown-menu .dropdown-item
{
    color: white;
}

.dropdown-menu .active
{
    color: black;
    background-color: #ffc107;
}

/* Dropdown Hover Colour */
.dropdown-item:hover:not(.active)
{
    background-color: #7c1fa3;
}

/* MAIN ------------------------------------------------------------------------ */

.main-contents
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.model3D
{
    background-color: rgba(97, 24, 24, 0.0);
    border-radius: 0px;
    border: 0px solid rgba(0, 0, 0, 1.0);
    padding: 0px;
    height: 400px;
}



X3D, x3d
{
    position:relative;
    float:left;
    cursor: pointer;
    
    border-radius: 0px;
    /*border: 1px solid rgba(255, 255, 255, 1.0);*/
    width: 100%;
    height: 100%
}

/* Gallery Title */
.gallery-title, .gallery-title h5
{
    margin: 2px;
    padding:0;
}

/* FOOTER ---------------------------------------------------------------------- */
 
/* Background Colour, Height */
.footer
{
    background-color: #4b0073;
    margin-top: auto;
}

/* Text Colour */
.footer p
{
    color: white;
    height: 100%;
    margin:0;
}

/* Copyright Text Padding */
.copyright
{
    padding-top: 0px;
    padding-bottom: 0px;
}

/* Social Icons Padding, Hover Colour */
.social, .social i:hover
{
    padding-top: 0px;
    padding-bottom: 0px;
    color:#ffc107 !important;
}

/* MEDIA QUERIES --------------------------------------------------------------- */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px)
{
    .dropdown-menu
    {
        background-color: #4b0073;
        margin-top: 20px; /* Experiment to move the dropdown menu down */
    }

    .model3D
    {
        height: 323px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px)
{
    .model3D
    {
        height: 434px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px)
{
    .model3D
    {
        height: 565px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px)
{
    .model3D
    {
        height: 701px;
    }
}
